// Screen Size
$minMaxWidth: 900px;

// Sizes
$minWidth: 365px;
$maxWidth: 1440px;

// Colors

$clr-primary-100: hsl(231, 69%, 60%);
$clr-primary-200: hsl(0, 94%, 66%);
$clr-primary-300: hsl(231, 31%, 20%);

$clr-neutral-100: hsl(229, 8%, 60%);
$clr-neutral-200: hsl(229, 31%, 21%);
$clr-neutral-300: hsl(0, 0%, 100%);
$clr-neutral-400: hsla(231, 84%, 31%, 0.859);
$clr-neutral-500: hsla(229, 8%, 60%, 0.528);
// Font Size

$fs-100: 1.125rem;

// Font Famili

$ff-100: "Rubik", sans-serif;;

// Font Weights

$fw-100: 400;
$fw-200: 500;

$brd: 5em;