@import "./variables";
@import "./mixin";

@media (width > $minMaxWidth) {
    // Header

    header {
        max-width: $maxWidth;

        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        // Menu Button

        & .open-menu {
            display: none;
        }

        & .logo {
            width: 30%;

            & svg {
                margin-left: 3em;
            }
        }

        // Navbar

        & nav {
            width: 70%;

            & ul {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                list-style: none;
                margin-right: 3em;

                & li {
                    margin-right: 3em;

                    & a {
                        color: $clr-neutral-200;
                        transition: 300ms ease-in-out;
                    }

                    & a:hover {
                        color: $clr-primary-200;
                        transition: 300ms ease-in-out;
                    }
                }

                & button {
                    width: 110px;
                    height: 35px;
                    background-color: $clr-primary-200;
                    transition: 300ms ease-in-out;
                    border-radius: 0.5em;

                    & a {
                        text-transform: uppercase;
                        color: $clr-neutral-300;
                        font-weight: $fw-200;
                    }
                }

                & button:hover {
                    transition: 300ms ease-in-out;
                    background-color: transparent;
                    border: 2px solid $clr-primary-200;
                }

                & button:hover a {
                    color: $clr-primary-200;
                    transition: 300ms ease-in-out;
                }
            }

            // Close Menu
            & .close-menu {
                display: none;
            }

            & .social-icons {
                display: none;
            }
        }
    }

    // Main

    main {
        max-width: $maxWidth;
        margin-block-start: 5em;
        width: 100%;
        height: auto;

        // Section 1

        & .section-1 {
            width: 100%;
            display: flex;

            & .left-section {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                & h1 {
                    font-size: $fs-100 + 1rem;
                    font-family: $ff-100;
                    font-weight: $fw-200;
                    margin-inline: 2em 2em;
                }

                & p {
                    @include desktopText;
                }

                & .sct-1-button {
                    margin-block: 1em 1em;
                    width: 100%;
                    height: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 2em;

                    & button {
                        width: 30%;
                        height: 40%;
                        border-radius: 0.5em;
                        transition: 500ms ease-in-out;

                        & a {
                            font-size: $fs-100 - 0.4rem;
                            font-weight: $fw-200;
                            font-family: $ff-100;
                        }
                    }

                    & button:nth-child(1) {
                        background-color: $clr-primary-100;

                        & a {
                            color: $clr-neutral-300;
                        }
                    }

                    & button:nth-child(2) {
                        background-color: $clr-neutral-300;
                        box-shadow:
                            0 -2px 5px 1px hsl(0, 0%, 96%),
                            0 2px 7px 1px hsl(0, 2%, 83%);

                        & a {
                            color: $clr-neutral-100;
                        }
                    }

                    & button:nth-child(1):hover {
                        color: $clr-primary-100;
                        background-color: transparent;
                        transition: 300ms ease-in-out;
                        border: 2px solid $clr-primary-100;
                    }

                    & button:nth-child(1):hover a {
                        color: $clr-primary-100;
                    }

                    & button:nth-child(2):hover {
                        background-color: transparent;
                        color: $clr-neutral-200;
                        transition: 500ms ease-in-out;
                        border: 2px solid $clr-neutral-200;
                    }

                    & button:nth-child(2):hover a {
                        color: $clr-neutral-200;
                        transition: 500ms ease-in-out;
                    }
                }
            }

            & .right-section {
                width: 50%;
                height: 100%;
                position: relative;

                & img {
                    width: 90%;
                    display: block;
                }
            }

            & .right-section::before {
                content: "";
                width: 80%;
                height: 80%;
                position: absolute;
                top: 20%;
                right: 0;
                border-top-left-radius: $brd;
                border-bottom-left-radius: $brd;
                background-color: $clr-primary-100;
                z-index: -1;
            }
        }

        // Section 2

        & .section-2 {
            width: 100%;

            & .top-section {
                width: 100%;
                height: 200px;
                display: flex;
                flex-direction: column;
                align-items: center;

                & h2 {
                    text-align: center;
                    font-family: $ff-100;
                    font-size: $fs-100 + 0.5rem;
                    font-weight: $fw-200;
                    margin-block: 1em 1em;
                }

                & p {
                    width: 40%;
                    text-align: center;
                    @include desktopText;
                }
            }

            // Slide Buttons

            & .slide-button {
                width: 100%;
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;

                & .info-button {
                    width: 25%;
                    height: 60%;
                    background-color: transparent;
                    font-size: $fs-100 - 0.2rem;
                    font-weight: $fw-100;
                    font-family: $ff-100;
                    color: $clr-neutral-200;
                    position: relative;
                    border-bottom: 1px solid $clr-neutral-500;
                }

                & .info-button:focus {
                    border-bottom: 2px solid $clr-primary-200;
                    transition: 100ms all;
                    color: $clr-primary-200;
                }

                & .info-button:hover {
                    color: $clr-primary-200;
                }
            }

            // Slide Wrapper

            & .slide-wrapper {
                width: 100%;
                height: 500px;

                & .slide-box {
                    width: 100%;
                    height: 100%;

                    & .slide {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        & .left {
                            width: 50%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: relative;
                            overflow-x: hidden;

                            & img {
                                width: 80%;
                                display: block;
                            }
                        }

                        & .left::before {
                            content: "";
                            width: 100%;
                            height: 60%;
                            background-color: $clr-primary-100;
                            position: absolute;
                            top: 35%;
                            left: -20%;
                            border-top-right-radius: $brd;
                            border-bottom-right-radius: $brd;
                            z-index: -1;
                        }

                        & .right {
                            width: 50%;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            margin-left: 2em;

                            & .right-title {
                                font-size: $fs-100 + 0.5rem;
                                font-weight: $fw-200;
                                font-family: $ff-100;
                            }

                            & .right-text {
                                width: 60%;
                                @include desktopText;
                                margin-inline: 0 0;
                            }

                            & button {
                                margin-block: 1em 1em;
                                width: 100px;
                                height: 40px;
                                background-color: $clr-primary-100;
                                border: none;
                                border-radius: 0.5em;

                                & a {
                                    color: $clr-neutral-300;
                                    font-family: $ff-100;
                                }
                            }

                            & button:hover {
                                border: 2px solid $clr-primary-100;
                                background-color: transparent;
                                transition: 500ms ease-in-out;
                            }

                            & button:hover a {
                                color: $clr-primary-100;
                                transition: 300ms ease-in-out;
                            }
                        }
                    }
                }
            }
        }

        // Section 3

        & .section-3 {
            margin-block-start: 4em;
            width: 100%;

            & .section-3-top-content {
                width: 100%;
                height: 130px;
                display: flex;
                flex-direction: column;
                align-items: center;

                & h3 {
                    font-size: $fs-100 + 0.3rem;
                    font-family: $ff-100;
                    font-weight: $fw-200;
                    text-align: center;
                    margin-block: 1em 1em;
                }

                & p {
                    width: 40%;
                    @include desktopText;
                    text-align: center;
                }
            }

            & .section-3-card-wrapper {
                width: 100%;
                height: 50vh;
                display: flex;
                justify-content: center;
                gap: 3em;
                position: relative;

                & .section-3-card {
                    width: 250px;
                    height: 350px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                    position: relative;
                    box-shadow: 0 20px 35px 1px rgba(217, 213, 213, 0.505);
                    margin-top: 1.5em;
                    border-radius: 1em;
                    transition: 300ms all;

                    & .card-content {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 1em;
                        position: absolute;
                        top: 10%;
                        & img {
                            margin-bottom: 0.5em;
                        }

                        & p:nth-child(2) {
                            font-size: $fs-100;
                            font-family: $ff-100;
                            font-weight: $fw-200;
                        }

                        & p:nth-child(3) {
                            @include commonTextStyle;
                            font-size: $fs-100 - 0.2rem;
                        }
                    }

                    & .card-button {
                        width: 100%;
                        height: 100px;
                        border-top: 4px dotted rgb(226, 223, 223);
                        position: absolute;
                        bottom: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        & button {
                            width: 85%;
                            height: 50%;
                            background-color: $clr-primary-100;
                            border-radius: 0.5em;

                            & a {
                                color: $clr-neutral-300;
                                font-family: $ff-100;
                            }
                        }

                        & button:hover {
                            @include hoverBtn;
                        }

                        & button:hover a {
                            @include hoverBtnLLink;
                        }
                    }
                }

                & .section-3-card:hover {
                    transform: scale(1.05);
                    transition: 300ms all;
                }

                & .section-3-card:nth-child(2) {
                    margin-top: 4em;
                }

                & .section-3-card:nth-child(3) {
                    margin-top: 7em;
                }
            }
        }

        // Section 4

        & .section-4 {
            width: 40%;
            min-height: 30vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & .section-4-top-content p {
                width: 38%;
            }

            & .tab-wrapper {
                width: 300px;
                height: auto;
            }
        }
    }

    // Footer

    footer {
        max-width: $maxWidth;

        width: 100%;
        height: 100px;
        background-color: $clr-primary-300;
        display: flex;
        align-items: center;

        & .footer-logo svg {
            margin-left: 2em;

            path {
                fill: $clr-neutral-300;
            }
        }

        & ul {
            margin-left: 4em;
            list-style: none;
            display: flex;
            gap: 2em;
            position: relative;

            & li a {
                color: $clr-neutral-300;
            }

            & li a:hover {
                color: $clr-primary-200;
            }
        }

        & .social-icons {
            position: absolute;
            right: 10%;

            & a {
                color: $clr-neutral-300;
                font-size: $fs-100 + 0.5rem;
                margin-right: 1em;
            }

            & a:hover {
                color: $clr-primary-200;
            }
        }
    }
}
